.dep-sider {
  background: #33373f;
  .ant-checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
    padding: 10px;
  }
  .ant-checkbox-group-item {
    color: #ddd;
  }
}
.extra{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 40px;
  background-color: #21242b;
  .ant-radio-button-wrapper{
    background: #333;
    color: #eee;
    border-color: #888;
  }
  .ant-radio-button-wrapper-checked{
    background: #333 !important;
  }
}
.preview,
.code-space {
  background-color: #282c34;
  width: calc(50vw - 60px);
  height: 100vh;
  overflow: hidden;
  .header {
    height: 32px;
    display: flex;
    align-items: center;
    .tabs{
      width: calc(100% - 100px);
      display: flex;
      align-items: center;
      .file, .file-selected{
        min-width: 100px;
        width: fit-content;
        color: rgb(179, 176, 176);
        font-size: 12px;
        height: 100%;
        line-height: 32px;
        background: #2e333e;
        display: flex;
        gap: 4px;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        .file-icon{
          height: 31px;
        }
        .error{
          color: rgb(241, 103, 103);
          font-weight: 500;
        }
      }
      .file-selected{
        background-color: #282c34;
      }
    }
  }
  .body {
    height: calc(100% - 32px);
  }
}

.preview {
  .body {
    background-color: #fff !important;
  }
}
