.dep-sider {
  background: #33373f;
  .ant-checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
    padding: 10px;
  }
  .ant-checkbox-group-item {
    color: #ddd;
  }
}
.preview,
.code-space {
  background-color: #282c34;
  width: calc(50vw - 60px);
  height: 100vh;
  overflow: hidden;
  .body {
    height: calc(100% - 32px);
  }
}

.preview {
  .body {
    background-color: #fff !important;
  }
}
