.ant-table-filter {
  display: flex;
  flex-direction: column;
  gap: 6px;
  &-item {
    padding: 4px;
    transition: 0.3s;
    &:hover {
      background-color: var(--bg-color-2);
      transition: 0.3s;
    }
  }
}
