.form-design {
  display: flex;
  .sider {
    display: flex;
    gap: 10px;
    padding: 20px;
    flex: 1;
    flex-wrap: wrap;
    background-color: var(--bg-color-2);
    width: 300px;
  }
  .canvas {
    display: flex;
    gap: 10px;
    padding: 20px;
    flex: 9;
    width: calc(100vw - 600px);
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: var(--bg-color-2);
    .drag-item, .drag-item-selected{
      padding: 0 10px;
      background-color: #fff;
    }
    .ant-form{
      width: 100%;
      background: #fff;
      padding: 20px;
      .ant-form-item{
        pointer-events: none;
      }
    }
  }
  .panel {
    width: 300px;
  }
}
