.form-design {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-2);
  .ant-tabs-nav, .ant-tabs-content{
    padding-left: 10px;
  }
  .bar-sider {
    width: 48px;
    &-item{
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover{
        .anticon{
          color: #1890ff;
        }
      }
      &-bottom{
        position: absolute;
        bottom: 10px;
      }
    }
  }
  .sider {
    width: 300px;
    background-color: #fff;
    border-right: 1px solid #eee;
    .sider-material-tab {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
  .canvas {
    display: flex;
    gap: 10px;
    flex: 9;
    width: calc(100vw - 800px);
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #fff;
    border-right: 1px solid #eee;
    .ant-tabs-nav-wrap {
      justify-content: center;
    }
    .key-info {
      display: none;
      position: absolute;
      top: 2px;
      right: 4px;
      border: none;
      background: transparent;
      color: #1890ff;
    }
    .drag-panel {
      .drag-item,
      .drag-item-selected {
        padding: 4px;
        background-color: #fff;
      }
      .drag-item-selected {
        .key-info {
          display: block;
        }
      }
      .ant-form {
        width: 100%;
        .ant-form-item {
          pointer-events: none;
        }
      }
      .ant-card-actions {
        pointer-events: none;
      }
    }
  }
  .panel {
    width: 400px;
    background-color: #fff;
    overflow: auto;
  }
}
