.table-design-wrap{
  .table-area{
    display: flex;
    .plus-add-icon{
      height: 110px;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed #1890ff;
      cursor: pointer;
      opacity: .7;
      &:hover{
        opacity: 1;
      }
    }
  }
}