.ant-layout-content {
  padding: 0;
  background: #fff;
}

.ant-layout-header{
  height: 50px !important;
  padding: 0 !important;
}

.ant-menu-horizontal{
  line-height: 50px !important;
}

.ant-menu-submenu-selected{
  background-color: #1890ff !important;
}