.ant-layout-content {
  padding: 0;
  background: #fff;
  height: calc(100vh - 54px);
  overflow: hidden;
}

.ant-layout-header{
  height: 54px !important;
  padding: 0 !important;
}

.ant-menu-horizontal{
  line-height: 54px !important;
}

.ant-menu-submenu-selected{
  background-color: #1890ff !important;
}